<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Livros</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

	<ion-list>
    <ion-list-header>
      <ion-label>Livros cadastrados</ion-label>
    </ion-list-header>

    <ion-item-sliding *ngFor="let livro of livros" #itemSliding>
      <ion-item>
        <ion-avatar slot="start">
          <img [src]="livro.logo" />
        </ion-avatar>
        <ion-label>
          <ion-text color="primary">
            <h2>
              <strong>{{livro.titulo}}</strong>
            </h2>
          </ion-text>
          <h3>
            Autor: <strong>{{livro.autor}}</strong></h3>
          <h4>
            Preço: <ion-text color="danger"><strong>{{livro.preco | currency: 'R$'}}</strong></ion-text>
          </h4>
          <h4>
          	ISBN: <ion-text><strong>{{livro.isbn}}</strong></ion-text>
          </h4>
          <small>
            Paginas: <ion-text color="medium">{{livro.paginas}}</ion-text>
          </small>
        </ion-label>
      </ion-item>

      <ion-item-options side="start">
        <ion-item-option color="primary" [routerLink]="['edicao', livro.id]">
          <ion-icon slot="icon-only"
                    name="pencil"></ion-icon>
        </ion-item-option>
      </ion-item-options>

      <ion-item-options side="end">
        <ion-item-option color="danger" (click)="confirmarExclusao(livro)">
          <ion-icon slot="icon-only"
                    name="trash"></ion-icon>
        </ion-item-option>
      </ion-item-options>

    </ion-item-sliding>
  </ion-list>

	<ion-fab vertical="bottom" horizontal="end">
    	<ion-fab-button [routerLink]="['cadastro']">
      		<ion-icon name="add"></ion-icon>
    	</ion-fab-button>
  	</ion-fab>

</ion-content>
